<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>
<body>
    <form action="/add-category" method="post" enctype="form-data">
        title: <input type="text" name="title" id=""><br>
        <button type="submit">Add Category</button>
    </form>
</body>
</html>