<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>
<body>
    <?= categories[0].title ?>
    <form action="/add-product" method="post" enctype="multipart/form-data">
        title: <input type="text" name="title" id=""><br>
        category:

        <select name="categoryId">
            <% for(let i = 0; i < categories.length ; i++) { %>
                <option value='<%= categories[i]._id %>'><%= categories[i].title %></option>
            <% } %>
        </select> </br>
        price per Unit: <input type="number" name="price" id=""> <br>
        Available Quantity: <input type="text" name="quantity" id=""> <br>
        <input type="file" name="images" multiple><br>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>ShopG</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../static/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Post You Product</h2>
                    <?= categories[0].title ?>
                    <formn action="/add-product" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Title" name="title" id="">
                        </div>
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="categoryId">
                                    <option disabled="disabled" selected="selected">Category</option>
                                    <% for(let i = 0; i < categories.length ; i++) { %>
                                        <option value='<%= categories[i]._id %>'><%= categories[i].title %></option>
                                    <% } %>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="number" placeholder="Price Per Unit" name="price" id="">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Quantity" name="quantity" id="">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="file" placeholder="Images" name="images" multiple>
                        </div>
                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Post a Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
